.dropbtn_donor {
  background-color: white;
  color: #DC0E0E;
  padding: 7px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_donor {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_donor {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content_donor a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content_donor a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown_donor:hover .dropdown-content_donor {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_donor:hover .dropbtn_donor {
  color: #A60202;
}

.profil-img {
  margin-left: 20px;
  width: 500px;
  height: 500px;
  border-right: 6px solid #DC0E0E;
}

.profil-img img {
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  object-fit: cover;
  object-position: center;
  width: 300px;
  height: 337px;
}

.profil-info {
  margin-left: 600px;
  width: 900px;
  height: 700px;
}

.profil-title {
  margin-top: 20px;
}

.profil-title img {
    width: 100px;
    height: 30px;
}

.profil-content {
  margin-top: 50px;
}

.info {
  color: #DC0E0E;
}

.nav-link {
  margin-left: 20px;
  font-weight:600;
  border: none;
  color: #DC0E0E;
}

.col-md-6 {
  margin-top: 5px;
  border-bottom: 1px solid #DC0E0E;
}

.nav-link:hover {
  color: #BF0000;
}

.zbtn {
  height: 40px;
  background-color: #9F0A00; 
  border: none;
  color: white;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 35px 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}

.zbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #AD2D25;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  margin-left: 20px;
  background: #9F0A00;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: inline-block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #AD2D25;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #9F0A00;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.form-style-6 {
  height: 300px;
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 30px 50px;
  padding: 16px;
  background: #F0F0F0;
  box-shadow: 5px 10px 8px 10px #888888;
}

.form-style-6 h1{
  background: #9F0A00;
  padding: 20px 0px;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 25px -16px;
}

.form-style-6 input[type="number"] {
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  margin-left: 10%,
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
;
}

.form-style-6 input[type="number"]:focus {
  box-shadow: 0 0 5px #AD2D25;
  padding: 3%;
  border: 1px solid #AD2D25;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 170%;
  table-layout: fixed;
}

