.submitsearch {
	background: #DC0E0E;
	color: white;
	border-style: outset;
	border: 1px solid #A60202;
	height: 30px;
	width: 90px;
}

.submitsearch:hover {
	 background: #A60202;
}

.submitsearch:active {
	background: #DC0E0E;
	border: 1px solid #A60202;
}

.searchform {
	padding-top: 5px;
}

.dropbtn_donor {
  background-color: white;
  color: #DC0E0E;
  padding: 7px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_donor {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_donor {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content_donor a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content_donor a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown_donor:hover .dropdown-content_donor {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_donor:hover .dropbtn_donor {
  color: #A60202;
}

.profil-img {
	margin-left: 20px;
	width: 500px;
	height: 500px;
	border-right: 6px solid #DC0E0E;
}

.profil-img img {
	float: left;
	margin-left: 100px;
	margin-top: 80px;
	object-fit: cover;
	object-position: center;
	width: 300px;
	height: 337px;
	float: left;
}

.profil-info {
	margin-left: 600px;
	width: 900px;
	height: 700px;
}

.profil-title {
	margin-top: 20px;
}

.profil-title img {
  	width: 100px;
  	height: 30px;
}

.profil-content {
	margin-top: 50px;
}

.info {
	color: #DC0E0E;
}

.nav-link {
	font-weight:600;
    border: none;
    color: #DC0E0E;
}

.col-md-6 {
	margin-top: 5px;
	border-bottom: 1px solid #DC0E0E;
}

.nav-link:hover {
	color: #BF0000;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

